{% block footer %}
<div class="container">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <small class="d-block mb-3 text-muted"></small>
            </div>
            <div class="col-6 col-md"></div>
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
                <li class="text-muted" href="#">Cool stuff</li>
                <li class="text-muted" href="#">Random feature</li>
                <li class="text-muted" href="#">Team feature</li>
                <li class="text-muted" href="#">Stuff for developers</li>
                <li class="text-muted" href="#">Another one</li>
                <li class="text-muted" href="#">Last time</li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Resource</h5>
            <ul class="list-unstyled text-small">
                <li class="text-muted" href="#">Resource</li>
                <li class="text-muted" href="#">Resource name</li>
                <li class="text-muted" href="#">Another resource</li>
                <li class="text-muted" href="#">Final Resource</li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li class="text-muted" href="#">Team</li>
                <li class="text-muted" href="#">Location</li>
                <li class="text-muted" href="#">Privacy</li>
                <li class="text-muted" href="#">Terms</li>
            </ul>
        </div>
    </footer>
</div>
{% endblock %}