
<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title>DJANGO BLOG</title>
</head>
<body style="font-family:'Courier New', Courier, monospace;">
    <header>
        <div>
            <h3>
                <a href="{% url 'blog:postlist' %}">DJANGO BLOG</a>
            </h3>
        </div>
    <div>
        <a href="{% url 'blog:postlist' %}">Home</a>
        <a href="{% url 'blog:postlist' %}">Add Post</a>
        <a href="{% url 'blog:searchpost' %}">Search Post</a>
        <a href="{% url 'blog:postlist' %}">Login</a>
        <a href="{% url 'blog:postlist' %}">Logout</a>
        <a href="{% url 'blog:postlist' %}">Register</a>
    </div>
    </header>
    <div class="container mt-3">
        <div class="row">
            <div class=" navbar-nav col-3" >
                Categories :
                {% for category in category_list %}
                <a class="dropdown-item" href="/category/{{ category.name }}">
                    {{ category.name|title }}
                </a>
                {% endfor %}
            </div>
            <div class="col-9" >
                {% block content %}
            
                {% endblock %}
            </div>
        </div>


    </div>

    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'jquery/jquery-3.6.0.js' %}"></script>
</body>
</html>