<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DJANGO BLOG</title>
</head>
<body>
    <header>
        <div>
            <h3>
                <a href="{% url 'blog:postlist' %}">DJANGO BLOG</a>
            </h3>
        </div>
    <div>
        <a href="{% url 'blog:postlist' %}">Home</a>
        <a href="{% url 'blog:postlist' %}">Add Post</a>
        <a href="{% url 'blog:postlist' %}">Login</a>
        <a href="{% url 'blog:postlist' %}">Logout</a>
        <a href="{% url 'blog:postlist' %}">Register</a>
    </div>
    </header>


    {% block content %}

    {% endblock %}   
</body>
</html>