{% extends 'blog/base.html' %}

{% block content %}
<h3 class="text-uppercase">Kategori : {{ catlist.cat }}</h3>

{% for post in catlist.posts %}
<a href="{{ post.get_absolute_url }}" class="text-decoration-none text-reset">
<div class="card mb-3 mx-auto " style="max-width: 80%;">
  <div class="row g-0">
    <div class="col-sm-1 d-flex align-items-center justify-content-center">
      <img src="{{ post.image.url }}" alt="{{post.title}}" class="img-fluid rounded" style="width:80px;">
    </div>
    <div class="col-sm-11">
      <div class="card-body ps-5">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text">{{ post.content|safe|truncatechars:100 }}</p>
      </div>
    </div>
  </div>
</div>
</a>
{% endfor %}

{% endblock %}