{% extends 'blog/base.html' %}

{% block content %}

		<a href="{% url 'blog:postlist' %}">Back</a>
		<h1>Hello World : Django Blog</h1>
		<hr>
		<h2>
			{{post.title}}
		</h2>
		Categories : 
				{% for cat in post.category.all %}
				{{ cat }} |
				{% endfor %}
		<p>
			<small> created : {{post.author}} | {{post.published_date}} </small>
		</p>
		<img src="{{ post.image.url }}" alt="{{post.title}}" style="width: 300px;">

		<p>
			{{post.content|safe}}
		</p>
		<hr>
		<h5>
		{% with comments.count as total_comments %}

		{{ total_comments }} comment{{ total_comments|pluralize }}

		{% endwith %}
		</h5>

		{% load mptt_tags %}
		<div>
			{% recursetree comments %}
			<div>{{ node.content }}</div>
			<div>{{ node.level }}</div>

			{% if not node.is_leaf_node %}
			<div class="children ps-3">
				{{ children }}
			</div>
			{% endif %}

			{% endrecursetree %}
		</div>
		

		<br>
				
		<div>
		Make a new comment :
		<form action="" id="commentform" method="POST">
			<div class="form-group">
				{% csrf_token %}
				{{comment_form.as_p}}
			</div>
			<button type="submit" class="btn btn-primary btn-md btn-block">Submit</button>
		</form>
		</div>


		
{% endblock %}
