{% extends 'blog/base.html' %}

{% block content %}

		<a href="{% url 'blog:postlist' %}">Back</a>
		<h1>Hello World : Django Blog</h1>
		<hr>
		<h2>
			{{post.title}}
		</h2>
		<p>
			created : {{post.author}} | {{post.published_date}}
		</p>
		<p>
			{{post.content|safe}}
		</p>

		{% with comments.count as total_comments %}

		{{ total_comments }} comment{{ total_comments|pluralize }}

		{% endwith %}
		
		{% for comment in comments %}
		<br>
		{{ forloop.counter }} by {{ comment.name }}
		on {{ comment.publish }}
		{{ comment.content|linebreaks }}
		{% empty %}
		<small>There are no comments for this post.</small>
		{% endfor %}

		Make a new comment :
		<form action="" id="commentform" method="POST">
			<div class="form-group">
				{% csrf_token %}
				{{comment_form.as_p}}
			</div>
			<button type="submit" class="btn btn-primary btn-md btn-block">Submit</button>
		</form>



		
{% endblock %}
