{% extends 'blog/base.html' %}

{% block content %}
		<h1>Hello World : Django Blog</h1>
		<h3>Article :</h3>
		<ul>
			{% for post in posts %}
			<li>
				<h1>
					<a href="{{ post.get_absolute_url }}">
						{{post.title}} 
					</a>
				</h1>
				<p><small>
					created : {{post.author}} | {{post.published_date}}
				</small></p>
				<!-- <img src="https://picsum.photos/200/100" alt="Image"> -->
				<img src="{{ post.image.url }}" alt="{{post.title}}" style="width: 300px;">
				<!-- <p>{{ post.image.url }}</p> -->
				<p>
					{{post.content|truncatechars:80|safe }}
				</p>
				<hr>
				Categories : 
				{% for cat in post.category.all %}
				{{ cat }} |
				{% endfor %}
			</li>
			<hr />
			{% endfor %}
		</ul>

{% endblock %}
